<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>All users</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <p class="navbar-brand text-white">
            <span class="align-middle" sec:authentication="name"></span>
            <span class="align-middle" th:text="${currentUser.getEmail()}"> with roles:</span>
            <span class="align-middle"> with roles:</span>
            <span class="align-middle" th:each="role : ${currentUser.roles}">
                                        <span th:text="${role.getAuthority()}"></span>
                                    </span>
        </p>
        <form th:action="@{/logout}" method="post">
            <button type="submit" class="btn btn-dark text-secondary">Logout</button>
        </form>
    </div>
</nav>
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 p-0">
                <div class="nav flex-column nav-pills pt-4" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" th:href="@{/user}">User</a>
                </div>
            </div>
            <div class="col-10 px-0">
                <div class="container-fluid">
                    <h2 class="m-3 fw-bold">User information-page</h2>
                    <div class="tab-content" id="tabContent">
                        <div class="card">
                            <div class="card-header">
                                <div class="m-1">
                                    <h5>About user</h5>
                                </div>
                            </div>
                            <div class="card-body" bg-primary text-white>
                                <table class="table table-striped table-hover">
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">First Name</th>
                                        <th scope="col">Last Name</th>
                                        <th scope="col">Age</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Role</th>
                                    </tr>
                                    <tr th:each="user : ${currentUser}">
                                        <td th:text="${currentUser.id}"></td>
                                        <td th:text="${currentUser.getFirstName()}"></td>
                                        <td th:text="${currentUser.getLastName()}"></td>
                                        <td th:text="${currentUser.getAge()}"></td>
                                        <td th:text="${currentUser.getEmail()}"></td>
                                        <td>
                                            <span th:each="role : ${currentUser.roles}">
                                                <span th:text="${role.getAuthority()}"></span>
                                            </span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>